<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Download Tasks</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Download Center</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Go Back</a>
    </nav>

</div>
<div style="margin-left: 3%;margin-right: 3%;">
    <table class="table" >
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Task Status</th>
            <th>Remain File</th>
            <th>Total File</th>
            <th>Percent</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="task,status:${taskList}">
            <tr>
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.remain}"></td>
                <td th:text="${task.total}"></td>
                <td th:text="1-${task.remain}/${task.total}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<script src="js/jquery-3.5.1.js"></script>
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>